
.sepe-login.container {
  width: 970px !important;
 }
.badge {
    margin-left: 3px;
}
.sepe.select {
	min-width: 50px;
}
.sepe .select2-choice {
	background-color: #52B9E9;
}

.footable {
	border-radius: 4px;
}
.css-panel-header h6,
.css-form-header h6 {
    font-weight: bold;
}
.css-width-25 {
    width: 25px !important;
}
.css-width-75 {
    width: 75px !important;
}

.css-width-100 {
    width: 100px !important;
}

.css-width-200 {
    width: 200px !important;
}
.css-width-400 {
    width: 400px !important;
}
.css-blank-10 {
    display: inline-block;
    width: 10px;
}
.sepe-search {
    display: inline-block;
    width: 100%;
}
.sepe.input-group {
    width: 260px;
}
.sepe.input-group button.btn {
    background-color: #BDC3C7;
}
.sepe.input-group button.btn .fui-search{
    color: whitesmoke;
}
.css-row {
    clear: both;
    height: 30px;
    margin-bottom: 10px;
}
.css-row a {
    line-height: 30px;
}
.css-search {
    display: table;
}
.css-search-button {
    display: table-cell;
}
.css-search-button button {
    border-left: none;
    height: 30px;
}
.css-left {
    float: left;
}

.css-right {
    float: right;
}
.css-text-center {
    text-align: center;
}
.css-button-group {
    border: 1px solid #CCC;
    display: inline-block;
    padding-left: 5px;
    border-radius: 4px;
}
.css-button-group button {
    border: 1px solid transparent;
    margin-left: -5px;
    width: 40px;
}
.css-color-red {
	color: red;
}
.page-txt {
	border-radius: 2px;
}
*:disabled {
    background-color: #FFF;
    cursor: not-allowed !important;
    opacity: 0.5;
}
.table-pager {
    margin-top: 10px;
    font-size: 0.875em;
}
.sepe-form.navbar-form {
    padding-left: 0;
}
.sepe-table {
	overflow-x: scroll;
	width: 100%;
}
.container th,
.nonewline {
	white-space:nowrap;
}
.footable th,
.footable th a {
    font-size: 16px;
}
.sepe-table td {
	font-size: 14px;
}
.ui-tabs.ui-widget {
    font-size: 1em;
}
.tab.sepe-table th {
	font-size: 12px;
}

.tab.sepe-table td {
	font-size: 10px;
}
.tab.sepe-table input {
	border-radius: 2px;
	width: 100%;
}
.tab.tab-size-small.sepe-table input {
	width: 80px;
}
.container .ui-tabs .ui-tabs-panel{
	padding-left: 0.75em;
	padding-right: 0.75em;
}
.container input.css-readonly, input.css-readonly:focus, textarea.css-readonly, textarea.css-readonly:focus {
    background: #EEE;
    border: 1px dashed #CCC;
    color: black;

}
.container .sepe-date.css-readonly {
	background: white;
}
.footable .sepe-icon {
    margin-right: 10px;
    margin-left: 10px;
}
.navbar-inverse .fui-mail {
    margin-left: 10px;
    color: greenyellow;
}
.sepe-readed.fui-mail {
    color: #fff;
}
.form-group .radio {
    display: inline-block;
    margin-right: 6px;
}

form.form-horizontal {
    display: none;
}
.sepe-table a.table_a {
    color: #fff;
}

.jGrowl-notification.sepe {
    background-color: #ffff38;
    font-size: 1.25em;
    color: black;
}

.jGrowl-closer {
	background-color: #2f4154;
}
.jqplot-table-legend.jqplot-table-legend-swatch {
    padding-left: 0.75em;
}
.jqplot-table-legend.jqplot-table-legend-label {
    padding-left: 0.5em;
    padding-right: 0.75em
}
.select2-with-searchbox.select2-drop-active {
    min-width: 0px;
}
.select2-drop .select2-result-with-children > .select2-result-label {
    font-size: 1.1em;
    font-weight: bold;
    color: cadetblue;
}
.sepe-chart {
    height:600px;
    width:900px;
    margin-left: auto;
    margin-right: auto;
}

.sepe-tree {
    margin-bottom: 10px;
    background-color: gainsboro;
    border-radius: 4px;
}
.sepe-btn {
    margin: 8px;
    font-size: 1em;
}